<h1><%= @article.title %></h1>
<%= Kramdown::Document.new(@article.content).to_html.html_safe %>


<%= link_to 'index', root_path %>
<%= link_to 'Edit', edit_article_path %>
<%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
